    <a href="https://www.rit.edu/gccis/computingsecurity/">
        <img src="/img/sponsors/csec.jpg" />
    </a>
    <a href="https://www.securenetworkinc.com/">
        <img src="/img/sponsors/secure-network-technologies.png" />
    </a>
    <a href="https://www.endgame.com/">
        <img src="/img/sponsors/endgame.png" />
    </a>
    <!--
    <a href="https://greycastlesecurity.com/company/careers.shtml?utm_source=BSides%20Rochester&utm_campaign=BSides%20Rochester%20Event%2004-22-17&utm_medium=Event">
	<img src="/img/sponsors/greycastle.jpg">
    </a>
    <a href="http://senr.io/">
	<img src="/img/sponsors/senrio.jpg">
    </a>
    <a href="https://www.f5.com">
	<img src="/img/sponsors/f5.png">
    </a>
    <a href="https://www.nccgroup.trust/us/about-us/careers/">
	<img src="/img/sponsors/ncc-group.png">
    </a>-->
